<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/link") -%>
</head>
    <body>
    <!-- Navbar Section -->
    <%- include("../partials/header") -%>
 
     <!-- Home Section -->
     <%- include("../partials/homesec") -%>
    
     <!-- Menu Section -->
     <%- include("../partials/menu") -%>
 
    <!-- footer section -->
    <%- include("../partials/footer") -%>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascipt/admin.js" type="module"></script>
    <script src="/js/responsive.js"></script>
    </body>
</html>
